@font-face {
    font-family: 'BERNHC';
    src: url('/assets/fonts/BERNHC.TTF');
}

@font-face {
    font-family: 'Astro';
    src: url('/assets/fonts/Astro.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    font-family: 'Roboto';
}

//loading