.about_image {
    height: 600px;
    position: relative;
    top: 20px;
    z-index: 1;
    right: 20px;
}

.about_shape {
    position: relative;
    right: 315px;
    bottom: 580px;
    height: 700px;
}

.about {

    height: 200px;
    position: relative;
    bottom: 160px;
}

.about-topic-english,
.about-topic-sinhala {
    display: inline;
}

.about-topic-sinhala {
    position: relative;
    right: 10px;
    bottom: 2px;
    font-weight: 800;
    font-size: 31px;
}

.about-bold {
    padding-top: 20px;
}

.about-line-1 {
    height: 4px;
    width: 45px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 2px;
    right: 273px;
}

.about-line-2 {
    height: 4px;
    width: 45px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 70px;
}

.about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 31px;
    left: 49px;
}


@media (max-width: 1560px) {
    .about_image {
        height: 520px;
        position: relative;
        top: 70px;
        z-index: 1;
        right: -70px;
    }

    .about_shape {
        position: relative;
        right: 140px;
        bottom: 410px;
        height: 550px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }

    .about-line-1 {
        right: 230px;
    }

    .about-line-1 {
        right: 270px;
    }
}




@media (max-width: 1490px) {
    .about_image {
        height: 510px;
        position: relative;
        top: 80px;
        z-index: 1;
        right: -90px;
    }

    .about_shape {
        position: relative;
        right: 110px;
        bottom: 400px;
        height: 550px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }


}

@media (max-width: 1399px) {
    .about_image {
        height: 480px;
        position: relative;
        top: 90px;
        z-index: 1;
        right: -70px;
    }

    .about_shape {
        position: relative;
        right: 160px;
        bottom: 360px;
        height: 520px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }

    .about-line-1 {
        right: 230px;
    }
}


@media (max-width: 1366px) {
    .about_image {
        height: 440px;
        position: relative;
        top: 120px;
        z-index: 1;
        right: -80px;
    }

    .about_shape {
        position: relative;
        right: 130px;
        bottom: 310px;
        height: 500px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }

    .about-line-1 {
        right: 230px;
    }
}

@media (max-width: 1250px) {
    .about_image {
        height: 440px;
        position: relative;
        top: 120px;
        z-index: 1;
        right: -80px;
    }

    .about_shape {
        position: relative;
        right: 100px;
        bottom: 295px;
        height: 480px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }

    .about-line-1 {
        right: 230px;
    }
}




@media (max-width: 1199px) {
    .about_image {
        height: 420px;
        position: relative;
        top: 100px;
        z-index: 1;
        right: -40px;
    }

    .about_shape {
        position: relative;
        right: 140px;
        bottom: 280px;
        height: 440px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }


    .about-bold {
        font-weight: 520;
        font-size: 24px;
        padding-top: 10px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 180px;
    }

    .about-line-2 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 0px;
        left: 70px;
    }

    .about-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 31px;
        left: 49px;
    }

}

@media (max-width: 1100px) {
    .about_image {
        height: 400px;
        position: relative;
        top: 135px;
        z-index: 1;
        right: -60px;
    }

    .about_shape {
        position: relative;
        right: 100px;
        bottom: 240px;
        height: 430px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }


    .about-bold {
        font-weight: 520;
        font-size: 24px;
        padding-top: 10px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 180px;
    }

    .about-line-2 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 0px;
        left: 70px;
    }

    .about-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 31px;
        left: 49px;
    }

}

@media (max-width: 1100px) {
    .about_image {
        height: 400px;
        position: relative;
        top: 135px;
        z-index: 1;
        right: -60px;
    }

    .about_shape {
        position: relative;
        right: 100px;
        bottom: 240px;
        height: 430px;
    }

    .about {
        height: 150px;
        bottom: 180px;
    }

    .about-bold {
        font-weight: 520;
        font-size: 24px;
        padding-top: 10px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 180px;
    }

    .about-line-2 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 0px;
        left: 70px;
    }

    .about-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 31px;
        left: 49px;
    }
}


@media (max-width: 991px) {
    .about-col-1 {
        display: none;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 46%;
    }


}

@media (max-width: 850px) {

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 29px;
    }

    .about-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 25px;
        left: 49px;
    }


}


@media (max-width: 768px) {

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 45%;
    }


}


@media (max-width: 600px) {
    .about-col-1 {
        display: none;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 2px;
        right: 45%;
    }

    .about-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 25px;
        left: 49px;
    }

}

@media (max-width: 525px) {

    .about {
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .about {

        height: 200px;
        position: relative;
        bottom: 170px;
    }

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 25px;
    }

    .about-bold {
        font-size: 20px;
        padding-top: 20px;
    }

    .about-light {
        font-size: 15px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 45%;
    }

    .about-circle {
        bottom: 20px;
    }

}

@media (max-width: 500px) {

    .about {
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .about {

        height: 200px;
        position: relative;
        bottom: 170px;
    }

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 25px;
    }

    .about-bold {
        font-size: 20px;
        padding-top: 20px;
    }

    .about-light {
        font-size: 15px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 44.5%;
    }

    .about-circle {
        bottom: 20px;
    }

}

@media (max-width: 480px) {

    .about {
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .about {

        height: 200px;
        position: relative;
        bottom: 170px;
    }

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 25px;
    }

    .about-bold {
        font-size: 20px;
        padding-top: 20px;
    }

    .about-light {
        font-size: 15px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 44%;
    }

    .about-circle {
        bottom: 20px;
    }

}

@media (max-width: 450px) {
    .about-circle {
        bottom: 21px;
    }

    .about {
        height: 200px;
        position: relative;
        bottom: 190px;
    }

}

@media (max-width: 438px) {

    .about {
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .about {

        height: 200px;
        position: relative;
        bottom: 170px;
    }

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 25px;
    }

    .about-bold {
        font-size: 20px;
        padding-top: 20px;
    }

    .about-light {
        font-size: 15px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 43.5%;
    }

    .about-circle {
        bottom: 20px;
    }

}



@media (max-width: 400px) {

    .about {
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .about {

        height: 200px;
        position: relative;
        bottom: 170px;
    }

    .about-topic-sinhala {
        position: relative;
        right: 8px;
        bottom: 1px;
        font-family: "Astro";
        font-weight: 800;
        font-size: 25px;
    }

    .about-bold {
        font-size: 20px;
        padding-top: 20px;
    }

    .about-light {
        font-size: 15px;
    }

    .about-line-1 {
        height: 4px;
        width: 45px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 43%;
    }

    .about-circle {
        bottom: 20px;
    }

}