@use '../custom'as *;

#particle-canvas {
  width: 100%;
  height: 500px;
  z-index: 1;

}

.banner {
  padding-top: 340px;
  height: 0px;
  text-align: center;
}

.banner-design {
  position: relative;
  bottom: 420px;
  border-radius: 40px;
  z-index: 1;
  text-align: center;
  height: 340px;
  border-color: gray;
  border-style: solid;
  border-width: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 1920px) {

  .banner {
    background-repeat: repeat-y;
    background-size: 1920px;

  }

  #particle-canvas {
    width: 1900px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }

}

@media (max-width: 1366px) {

  .banner {
    padding-top: 280px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 410px;
    z-index: 2;
    text-align: center;
    height: 320px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media (max-width: 1200px) {

  .banner {
    padding-top: 280px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 410px;
    z-index: 2;
    text-align: center;
    height: 300px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

@media (max-width: 1050px) {

  .banner {
    padding-top: 250px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 370px;
    z-index: 2;
    text-align: center;
    height: 280px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 450px;
    z-index: 1;

  }

}

@media (max-width: 910px) {

  .banner {
    padding-top: 250px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 330px;
    z-index: 2;
    text-align: center;
    height: 260px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 420px;
    z-index: 1;

  }

}



@media (max-width: 775px) {

  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 280px;
    z-index: 2;
    text-align: center;
    height: 220px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 350px;
    z-index: 1;

  }

}

@media (max-width: 680px) {

  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 250px;
    z-index: 2;
    text-align: center;
    height: 200px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 320px;
    z-index: 1;

  }

}

@media (max-width: 590px) {

  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 220px;
    z-index: 2;
    text-align: center;
    height: 180px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 280px;
    z-index: 1;

  }

}

@media (max-width: 525px) {

  .banner {
    padding-top: 150px;
  }

  .banner-design {
    border-radius: 30px;
    position: relative;
    bottom: 205px;
    z-index: 2;
    text-align: center;
    height: 150px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;

  }

}

@media (max-width: 450px) {

  .banner {
    padding-top: 140px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 200px;
    z-index: 2;
    text-align: center;
    height: 130px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;

  }

}





@media (max-width: 390px) {


  .banner {
    padding-top: 140px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 190px;
    z-index: 2;
    text-align: center;
    height: 120px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;

  }

}


@media (max-width: 350px) {

  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 180px;
    z-index: 2;
    text-align: center;
    height: 110px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 240px;
    z-index: 1;

  }

}