.classes-img {
    text-align: center;
    position: relative;
    z-index: 1;
    height: 220px;
    width: 320px;
    right: 12px;
    border-radius: 5%;
    bottom: 2px;
    background-color: rgb(243, 243, 243);
}

.classes-images {
    top: 20%;
    left: 10%;
    border: none;
}

.classes {
    text-align: center;
    padding-top: 100px;

}

.classes-row {
    text-align: center;
    width: 1200px;
    padding-top: 30px;
}

.updates-card {
    width: 300px;
    position: relative;
    left: 50px;
    border-radius: 5%;
}

.next {
    position: relative;
    bottom: 240px;
    left: 540px;
    cursor: pointer;
}

.prev {
    position: relative;
    bottom: 240px;
    right: 540px;
    cursor: pointer;
}

.button-loadmore {
    text-align: center;
}

.classes-topic {
    text-align: center;
}

/*--------------- underline ----------------*/
.classes-line-1 {
    height: 4px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 2px;
    right: 40px;
}

.classes-line-2 {
    height: 4px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 80px;
}

.classes-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 32px;
    left: 40px;
}


@media (max-width: 1366px) {
    .classes-row {
        width: auto;
    }

    .updates-card {
        width: 300px;
        position: relative;
        left: 40px;
        border-radius: 5%;
    }

    .next {
        left: 515px;
    }

    .prev {
        right: 515px;
    }
}