@import url(../_custom.scss);


.feed {
    padding-top: 100px;
    text-align: center;
    height: 700px;
}


.feed-topic {
    text-align: center;
}

.feed-line-1 {
    height: 4px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 2px;
    right: 55px;
}

.feed-line-2 {
    height: 4px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 110px;
}

.feed-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 32px;
    left: 55px;
}

.feed-row {
    text-align: center;
    padding-top: 30px;
}

.spinner-border {
    color: #5D0102;
}

@media (max-width: 1366px) {

    .feed {
        height: 700px;
    }
}

@media (max-width: 992px) {
    .feed-line-1 {
        top: 5px;
    }

    .feed {
        height: 1300px;
    }

    .feed-col1 {
        text-align: center;
    }

    .feed-col2 {
        text-align: center;
        margin-top: 30px;
    }

}



@media (max-width: 768px) {

    .feed {
        height: 1050px;
    }

    .feed-col2 {
        margin-top: 40px;
    }

    .feed-line-1 {
        top: 5px;
    }

    .feed-circle {
        bottom: 28px;
    }
}


@media (max-width: 600px) {

    .feed {
        height: 1100px;
    }

    .feed-circle {
        bottom: 25px;
    }


}

@media (max-width: 445px) {
    .feed-circle {
        bottom: 21px;
    }
}