.footer {
    height: 380px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);
    margin: 0px;
    padding: 0px;
}

.footer_shape {
    position: relative;
    top: 350px;
    margin: 0px;
    padding: 0px;
}

.contact-details {
    text-align: center;
    position: relative;
    top: 180px;
}

.fa {
    color: white;
    padding-bottom: 10px;
}

.contact {
    color: white;
    text-decoration: none;

}

.contact-line {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: gray;
    bottom: 45%;
    left: 38%;
}

.contact-line2 {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: gray;
    bottom: 45%;
    left: 62%;
}

.copyright {
    margin-top: 20px;
    font-size: 15px;
}

.address_line_2 {
    position: relative;
    bottom: 15px;
}

@media (min-width: 1940px) {
    .footer {
        height: 410px;
        background-repeat: repeat-y;
        background-size: 1920px;
        background-position: center;
    }

    .contact-details {
        top: 200px;
    }

    .footer_shape {
        top: 380px;
        position: relative;
        width: 1923px;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-line {
        bottom: 80px;
        right: 100px;
    }

    .contact-line2 {
        bottom: 80px;
        right: 10px;
    }

}

@media (min-width: 1014px) {
    .mobile_footer_shape {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile_footer_small_shape {
        display: none;
    }
}

@media (max-width: 1668px) {



    .footer {
        height: 360px;
    }

    .footer_shape {
        position: relative;
        top: 340px;
        margin: 0px;
        padding: 0px;
    }

    .contact-details {
        top: 170px;
    }

}




@media (max-width: 1625px) {



    .footer {
        height: 330px;
    }

    .footer_shape {
        position: relative;
        top: 310px;
        margin: 0px;
        padding: 0px;
    }

    .contact-details {
        top: 130px;
    }

}

@media (max-width: 1480px) {

    .footer {
        height: 320px;
    }

    .footer_shape {
        position: relative;
        top: 300px;
        margin: 0px;
        padding: 0px;
    }

    .contact-details {
        top: 130px;
    }

}

@media (max-width: 1480px) {



    .footer {
        height: 300px;
    }

    .footer_shape {
        position: relative;
        top: 270px;
        margin: 0px;
        padding: 0px;
    }

    .contact-details {
        top: 105px;
    }

}



@media (max-width: 1290px) {



    .footer {
        height: 250px;
    }

    .footer_shape {
        position: relative;
        top: 210px;
    }

    .contact-details {
        top: 70px;
    }

    .copyright {
        margin-top: 5px;
        font-size: 15px;
    }

}

@media (max-width: 1013px) {



    .footer {
        height: 230px;
    }

    .mobile_footer_shape {
        position: relative;
        top: 220px;
    }

    .footer_shape {
        display: none;
    }

    .contact-details {
        top: 55px;
    }

    .copyright {
        margin-top: 0px;
        font-size: 15px;
    }

}

@media (max-width: 930px) {
    .footer {
        height: 250px;
    }

    .mobile_footer_shape {
        position: relative;
        top: 200px;
    }

    .footer_shape {
        display: none;
        position: relative;
        top: 190px;
        margin: 0px;
        padding: 0px;
    }

    .contact-details {
        top: 75px;
    }

    .copyright {
        margin-top: 0px;
        font-size: 15px;
    }

}

@media (max-width: 843px) {
    .footer {
        height: 230px;
    }

    .mobile_footer_shape {
        position: relative;
        top: 180px;
    }



    .contact-details {
        top: 55px;
    }

    .copyright {
        margin-top: 0px;
        font-size: 15px;
    }

    .contact-line {
        position: absolute;
        height: 100px;
        width: 2px;
        background-color: gray;
        bottom: 45%;
        left: 34%;
    }

    .contact-line2 {
        position: absolute;
        height: 100px;
        width: 2px;
        background-color: gray;
        bottom: 45%;
        left: 64%;
    }

}


@media (max-width: 767px) {
    .footer {
        height: 500px;
        text-align: center;

    }

    .mobile_footer_shape {
        display: none;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 500px;
    }

    .contact-details {
        top: 90px;

    }

    .copyright {
        margin-top: 40px;
        font-size: 15px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }



    .contact-line,
    .contact-line2 {
        display: none;
    }



}

@media (max-width: 670px) {
    .footer {
        height: 480px;

    }


    .mobile_footer_small_shape {
        position: relative;
        top: 480px;
    }

    .contact-details {
        top: 100px;

    }

    .copyright {
        margin-top: 10px;
        font-size: 15px;
    }


}

@media (max-width: 642px) {
    .footer {
        height: 450px;

    }


    .mobile_footer_small_shape {
        position: relative;
        top: 430px;
    }

    .contact-details {
        top: 80px;

    }

    .number,
    .address,
    .email {
        margin-top: 5px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 15px;
    }

}

@media (max-width: 575px) {
    .footer {
        height: 420px;

    }

    .mobile_footer_small_shape {
        position: relative;
        top: 410px;
    }

    .contact-details {
        top: 85px;

    }

    .copyright {
        margin-top: 0px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 15px;

    }

    .contact {
        padding-left: 20px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 25px;
    }

}


@media (max-width: 550px) {
    .footer {
        height: 420px;

    }

    .mobile_footer_small_shape {
        position: relative;
        top: 380px;
    }

    .contact-details {
        top: 85px;

    }

    .copyright {
        margin-top: 0px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 15px;

    }

    .contact {
        padding-left: 20px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 25px;
    }

}

@media (max-width: 510px) {
    .footer {
        height: 380px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 360px;
    }

    .contact-details {
        top: 70px;

    }

    .copyright {
        margin-top: 0px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 20px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }

}



@media (max-width: 480px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 330px;
    }

    .contact-details {
        top: 70px;

    }

    .copyright {
        margin-top: 10px;
        font-size: 13px;
        padding-right: 10px;
        padding-left: 10px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 20px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}



@media (max-width: 442px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 300px;
    }

    .contact-details {
        top: 50px;

    }

    .copyright {
        margin-top: 5px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 10px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}


@media (max-width: 402px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 280px;
    }

    .contact-details {
        top: 50px;

    }

    .copyright {
        margin-top: 5px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 10px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}


@media (max-width: 375px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 260px;
    }

    .contact-details {
        top: 50px;

    }

    .copyright {
        margin-top: 5px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 10px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}


@media (max-width: 348px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 240px;
    }

    .contact-details {
        top: 50px;

    }

    .copyright {
        margin-top: 5px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 10px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}



@media (max-width: 322px) {
    .footer {
        height: 400px;
    }

    .mobile_footer_small_shape {
        position: relative;
        top: 220px;
    }

    .contact-details {
        top: 50px;

    }

    .copyright {
        margin-top: 5px;
        font-size: 13px;
    }


    .number,
    .address,
    .email {
        font-size: 13px;
        padding-top: 0px;

    }

    .contact {
        padding-left: 10px;
    }

    .contact-line,
    .contact-line2 {
        display: none;
    }

    .fa-phone,
    .fa-map-marker,
    .fa-envelope {
        font-size: 20px;
    }


    .number,
    .address,
    .email {
        margin-top: 10px;
    }

    .address_line_2 {
        position: relative;
        bottom: 15px;
    }

}