@import url(../_custom.scss);

.home {
    height: 590px;
    background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);

}

#home_text {
    animation: moveright 2s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;

}

.home-img {
    position: relative;
    height: 600px;
    top: 10px;
    left: 180px;
}

.navbar-brand {
    position: relative;
    top: 10px;
}

.home_text_english {
    font-size: 110px;
    position: relative;
    bottom: 30px;
    left: 100px;
    font-family: 'BERNHC';
}

.home_text_sinhala {
    font-size: 135px;
    font-family: 'Astro';
    position: relative;
    bottom: 110px;
    left: 110px;
}

.shape {
    position: relative;
    bottom: 600px;
}


@media (min-width: 1940px) {
    .home {
        background-repeat: repeat-y;
        background-size: 1920px;
        background-position: center;
    }

    .shape {
        width: 1923px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 605px;
    }
}

@media (min-width: 501px) {
    .mobile_small_path {
        display: none;
    }
}

@media (min-width: 992px) {

    .mobile_path {
        display: none;
    }

}


@media (max-width: 1740px) {
    .home {
        height: 550px;
        background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);
    }

    .shape {
        bottom: 600px;
    }

    .home_text_english {
        font-size: 100px;
        bottom: 55px;
        left: 150px;
    }

    .home_text_sinhala {
        font-size: 130px;
        bottom: 130px;
        left: 150px;
    }
}

@media (max-width: 1666px) {

    .shape {
        bottom: 570px;
    }

}


@media (max-width: 1570px) {

    .shape {
        bottom: 500px;
    }

    .home-img {
        position: relative;
        height: 550px;
        top: 20px;
        left: 180px;
    }

}

@media (max-width: 1483px) {

    .home {
        height: 460px;
    }

    .shape {
        bottom: 440px;
    }

    .home-img {
        height: 450px;
        top: 30px;
        left: 180px;
    }

    .home_text_english {
        font-size: 80px;
        bottom: 20px;
        left: 180px;
    }

    .home_text_sinhala {
        font-size: 110px;
        bottom: 80px;
        left: 180px;
    }

}


@media (max-width: 1366px) {
    .home {
        height: 400px;
    }

    .home-img {
        position: relative;
        height: 400px;
        top: 40px;
        left: 200px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        position: relative;
        bottom: 400px;
    }

    .home_text_english {
        font-size: 80px;
        bottom: 20px;
        left: 180px;
    }

    .home_text_sinhala {
        font-size: 110px;
        bottom: 80px;
        left: 180px;
    }
}

@media (max-width: 1250px) {
    .home {
        height: 400px;
    }

    .home-img {
        position: relative;
        height: 410px;
        top: 25px;
        left: 160px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        position: relative;
        bottom: 400px;
    }

    .home_text_english {
        font-size: 80px;
        bottom: 20px;
        left: 180px;
    }

    .home_text_sinhala {
        font-size: 110px;
        bottom: 80px;
        left: 180px;
    }
}




@media (max-width: 1220px) {
    .home {
        height: 400px;
    }

    .home-img {
        position: relative;
        height: 400px;
        top: 40px;
        left: 200px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        position: relative;
        bottom: 370px;
    }

    .home_text_english {
        font-size: 70px;
        bottom: 20px;
        left: 180px;
    }

    .home_text_sinhala {
        font-size: 100px;
        bottom: 70px;
        left: 180px;
    }
}


@media (max-width: 1199px) {
    .home {
        height: 400px;
    }

    .home-img {
        position: relative;
        height: 400px;
        top: 30px;
        left: 180px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        position: relative;
        bottom: 370px;
    }

    .home_text_english {
        font-size: 60px;
        bottom: 20px;
        left: 150px;
    }

    .home_text_sinhala {
        font-size: 90px;
        bottom: 65px;
        left: 150px;
    }
}


@media (max-width: 1100px) {
    .home {
        height: 400px;
    }

    .home-img {
        position: relative;
        height: 400px;
        top: 30px;
        left: 150px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        position: relative;
        bottom: 340px;
    }

    .home_text_english {
        font-size: 60px;
        bottom: 20px;
        left: 180px;
    }

    .home_text_sinhala {
        font-size: 90px;
        bottom: 60px;
        left: 180px;
    }
}


@media (max-width: 991px) {

    .home {
        height: 420px;
    }

    .mobile_path {
        position: relative;
        bottom: 380px;
    }

    .home-img {
        position: relative;
        height: 380px;
        top: 30px;
        left: 80px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        display: none;
        position: relative;
        bottom: 340px;
    }

    .home_text_english {
        font-size: 70px;
        bottom: -10px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 90px;
        bottom: 40px;
        left: 100px;
    }
}



@media (max-width: 961px) {


    .home {
        height: 420px;
    }

    .mobile_path {
        position: relative;
        bottom: 380px;
    }

    .home-img {
        position: relative;
        height: 380px;
        top: 30px;
        left: 80px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .shape {
        display: none;
        position: relative;
        bottom: 340px;
    }

    .home_text_english {
        font-size: 70px;
        bottom: -10px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 90px;
        bottom: 40px;
        left: 100px;
    }
}


@media (max-width: 900px) {


    .home {
        height: 380px;
    }

    .mobile_path {
        position: relative;
        bottom: 350px;
    }

    .home-img {
        position: relative;
        height: 340px;
        top: 30px;
        left: 80px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .home_text_english {
        font-size: 70px;
        bottom: -10px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 90px;
        bottom: 40px;
        left: 100px;
    }
}


@media (max-width: 850px) {


    .home {
        height: 380px;
    }

    .mobile_path {
        position: relative;
        bottom: 340px;
    }

    .home-img {
        position: relative;
        height: 340px;
        top: 20px;
        left: 80px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }

    .home_text_english {
        font-size: 60px;
        bottom: -10px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 80px;
        bottom: 40px;
        left: 100px;
    }
}



@media (max-width: 800px) {


    .home {
        height: 360px;
    }

    .mobile_path {
        position: relative;
        bottom: 330px;
    }

    .home-img {
        position: relative;
        height: 330px;
        top: 10px;
        left: 60px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 60px;
        bottom: 0px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 80px;
        bottom: 50px;
        left: 100px;
    }
}



@media (max-width: 768px) {


    .home {
        height: 330px;
    }

    .mobile_path {
        position: relative;
        bottom: 310px;
    }

    .home-img {
        position: relative;
        height: 310px;
        top: 20px;
        left: 60px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 50px;
        bottom: 0px;
        left: 60px;
    }

    .home_text_sinhala {
        font-size: 70px;
        bottom: 40px;
        left: 60px;
    }
}


@media (max-width: 680px) {


    .home {
        height: 300px;
    }

    .mobile_path {
        position: relative;
        bottom: 285px;
    }

    .home-img {
        position: relative;
        height: 280px;
        top: 20px;
        left: 50px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 50px;
        bottom: 0px;
        left: 65px;
    }

    .home_text_sinhala {
        font-size: 70px;
        bottom: 40px;
        left: 65px;
    }
}


@media (max-width: 627px) {


    .home {
        height: 280px;
    }

    .mobile_path {
        position: relative;
        bottom: 255px;
    }

    .home-img {
        position: relative;
        height: 250px;
        top: 20px;
        left: 50px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 40px;
        bottom: 0px;
        left: 80px;
    }

    .home_text_sinhala {
        font-size: 60px;
        bottom: 30px;
        left: 80px;
    }
}


@media (max-width: 587px) {


    .home {
        height: 250px;
    }

    .mobile_path {
        position: relative;
        bottom: 235px;
    }

    .home-img {
        position: relative;
        height: 250px;
        top: 20px;
        left: 50px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 40px;
        bottom: 0px;
        left: 80px;
    }

    .home_text_sinhala {
        font-size: 60px;
        bottom: 30px;
        left: 80px;
    }
}


@media (max-width: 525px) {


    .home {
        height: 250px;
    }

    .mobile_path {
        position: relative;
        bottom: 200px;
    }

    .home-img {
        position: relative;
        height: 220px;
        top: 20px;
        left: 40px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 40px;
        bottom: 0px;
        left: 100px;
    }

    .home_text_sinhala {
        font-size: 60px;
        bottom: 30px;
        left: 100px;
    }
}

@media (max-width: 500px) {


    .mobile_small_path {
        position: relative;
        bottom: 250px;
    }

    .home {
        height: 270px;
    }

    .mobile_path {
        display: none;
    }


    .home-img {
        position: relative;
        height: 245px;
        top: 30px;
        left: 20px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 40px;
        bottom: -5px;
        left: 80px;
    }

    .home_text_sinhala {
        font-size: 60px;
        bottom: 25px;
        left: 80px;
    }



}

@media (max-width: 468px) {


    .mobile_small_path {
        position: relative;
        bottom: 220px;
    }

    .home {
        height: 250px;
    }

    .mobile_path {
        display: none;
    }


    .home-img {
        position: relative;
        height: 240px;
        top: 30px;
        left: 20px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 40px;
        bottom: -5px;
        left: 80px;
    }

    .home_text_sinhala {
        font-size: 60px;
        bottom: 25px;
        left: 80px;
    }



}

@media (max-width: 440px) {


    .mobile_small_path {
        position: relative;
        bottom: 190px;
    }

    .home {
        height: 250px;
    }

    .mobile_path {
        display: none;
    }

    .home-img {
        position: relative;
        height: 220px;
        top: 45px;
        left: 10px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 35px;
        bottom: -5px;
        left: 70px;
    }

    .home_text_sinhala {
        font-size: 45px;
        bottom: 20px;
        left: 70px;
    }

}

@media (max-width: 390px) {


    .mobile_small_path {
        position: relative;
        bottom: 190px;
    }

    .home {
        height: 230px;
    }

    .mobile_path {
        display: none;
    }

    .home-img {
        position: relative;
        height: 200px;
        top: 25px;
        left: 0px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 35px;
        bottom: -5px;
        left: 60px;
    }

    .home_text_sinhala {
        font-size: 45px;
        bottom: 20px;
        left: 60px;
    }

}

@media (max-width: 364px) {


    .mobile_small_path {
        position: relative;
        bottom: 170px;
    }

    .home {
        height: 210px;
    }

    .mobile_path {
        display: none;
    }

    .home-img {
        position: relative;
        height: 180px;
        top: 25px;
        left: 5px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 32px;
        bottom: -5px;
        left: 50px;
    }

    .home_text_sinhala {
        font-size: 45px;
        bottom: 20px;
        left: 50px;
    }

}

@media (max-width: 331px) {


    .mobile_small_path {
        position: relative;
        bottom: 170px;
    }

    .home {
        height: 190px;
    }

    .mobile_path {
        display: none;
    }

    .home-img {
        position: relative;
        height: 180px;
        top: 25px;
        left: 5px;
    }

    .navbar-brand {
        position: relative;
        top: 10px;
    }


    .home_text_english {
        font-size: 32px;
        bottom: -5px;
        left: 50px;
    }

    .home_text_sinhala {
        font-size: 45px;
        bottom: 20px;
        left: 50px;
    }

}