.lessons {
    padding-top: 100px;
}

.lessons-topic {
    text-align: center;
}

.lessons-line-1 {
    height: 4px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 2px;
    right: 40px;
}

.lessons-line-2 {
    height: 4px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 80px;
}

.lessons-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 32px;
    left: 40px;
}

.lessons-row {
    padding-top: 30px;
}

.video-date {
    font-size: 13px;
}

.video-heading {
    font-weight: 550;
    font-size: 15px;
}

.youtube-lessons {
    width: 300px;
    height: 215px;
}

.button-loadmore {
    padding-top: 10px;
}



@media (max-width: 1366px) {
    .youtube-lessons {
        width: 260px;
        height: 215px;
    }

}

@media (max-width: 991px) {

    .lessons-line-1 {
        height: 4px;
        width: 50px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 5px;
        right: 40px;
    }

    .lessons-line-2 {

        height: 4px;
        width: 50px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 0px;
        left: 80px;
    }

    .lessons-circle {
        height: 18px;
        width: 18px;
        background-color: #5D0102;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 30px;
        left: 40px;
    }

    .youtube-lessons {
        width: 100%;
        height: 200px;
    }

    .video-date {
        font-size: 13px;
    }

    .video-heading {
        font-weight: 550;
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .lessons-line-1 {
        top: 5px;
    }

    .lessons-circle {
        bottom: 28px;
    }
}

@media (max-width: 600px) {

    .lessons-circle {
        bottom: 25px;
    }

}

@media (max-width: 445px) {
    .lessons-circle {
        bottom: 21px;
    }
}