@use '../custom'as *;


.navbar {

  height: 60px;
  font-family: "roboto";
}


.bg-dark {
  background-image: linear-gradient(to right, #3f0000 5%, #5D0102 100%, #5D0102 100%, ) !important;
}

nav .navbar-nav li a {
  color: rgb(179, 176, 176) !important;
  font-size: 16px;
  margin-left: 20px;
}


.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav {
  text-align: center;
}

nav .navbar-nav li a {
  color: rgb(179, 176, 176) !important;
  font-size: 16px;
  margin-left: 20px;
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.nav2 {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .active {
  color: #ffffff !important;
}

/* Responsive */
@media (max-width: 1475px) {

  nav .navbar-nav li a {
    padding-left: 20px;
  }

}


@media (max-width: 1190px) {

  nav .navbar-nav li a {
    font-size: 14px;
  }

}

@media (min-width: 992px) {

  .navTrigger {
    display: none;
  }
}

@media (max-width: 991px) {

  .navbar-nav {

    background-image: linear-gradient(to right, #3f0000 5%, #5D0102 100%, #5D0102 100%, ) !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  nav .navbar-nav li a {
    margin-left: 0px;
  }


  .first-button {
    position: relative;
    right: 0px;
    bottom: 25px;
  }

  .navbar-logo {
    height: 80px;
    bottom: 30px;
    position: relative;

  }

  nav .navbar-nav li a {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

@media (max-width: 768px) {
  .navbar-logo {
    height: 500px;
    top: -20px;
    bottom: 0px;
    position: relative;

  }

  .navbar {

    padding-left: 20px;
    padding-right: 20px;
    animation: none;
    visibility: visible;
  }


  .first-button {
    position: relative;
    right: -30px;
    bottom: 5px;
    bottom: 10px;
  }



}

@media (max-width: 850px) {
  .navbar-logo {
    height: 60px;
    bottom: 30px;
    position: relative;
  }

  .navbar {
    height: 50px;
    font-family: "roboto";
  }
}

@media (max-width: 500px) {
  .navbar-logo {
    height: 50px;
    bottom: 30px;
    position: relative;

  }

  .navbar {
    height: 50px;
    font-family: "roboto";
  }

}

@media (max-width: 360px) {

  .navbar {
    height: 40px;
    font-family: "roboto";
  }

  .navbar-logo {
    height: 40px;

  }

  .first-button {
    position: relative;
    right: -30px;
    bottom: 10px;

  }

}