.custom-scrollbar-js,
.scrollbar {
  height: 600px;
}

/* Custom Scrollbar using CSS */
.scrollbar {
  overflow-y: scroll;
}

/* scrollbar width */
.scrollbar::-webkit-scrollbar {
  width: 15px;
}

/* scrollbar track */
.scrollbar::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #909394;
}

.updates {
  padding-top: 100px;
  padding-bottom: 500px;
  position: relative;
  top: 500px;

}

.updates-topic {
  text-align: center;
}

.updates-cards {
  border-width: 2px;
  border-color: #5D0102;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #5D0102;
  height: 60px;
  border: none;
  color: white;
}

.updates-line-1 {
  height: 4px;
  width: 110px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 2px;
  right: 75px;
}

.updates-line-2 {
  height: 4px;
  width: 110px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 150px;
}

.updates-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 31px;
  left: 75px;
}

.updates-row {
  margin-top: 30px;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px gray;
  box-shadow: 2px 2px 1px #888888;
}

.video {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px gray;
  box-shadow: 2px 2px 1px #888888;
}

.file {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px;
  border-color: gray;
  box-shadow: 2px 2px 1px #888888;
}

.scrollbar {
  padding-top: 10px;
}

.update_video {
  text-align: center;
}

video {
  width: 75%;
  height: auto;
}

.fa-file-text,
.fa-video-camera,
.fa-folder {
  color: #5D0102;
  font-size: 25px;
}



.text_title,
.video_title,
.file_title {
  font-weight: 500;
}

.text_date_time,
.video_date_time,
.file_date_time {
  padding-left: 10px;
  color: #888888;
  font-size: 13px;
  bottom: 30px;
}

.text_title,
.text_date_time {
  display: inline;
}

.video_title,
.video_date_time {
  display: inline;
}

.file_title,
.file_date_time {
  display: inline;
}


.file_description,
.video_description,
.description {
  font-size: 15px;
}

.card-header {
  text-align: center;
}

.fa-chevron-down {
  position: relative;
  left: 1180px;
  bottom: 40px;
  color: rgb(7, 7, 7);
  cursor: pointer;

}

.short_description {
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 550;
}

.topic_arrow {

  color: white;
}


@media (max-width: 1399px) {

  .fa-chevron-down {
    position: relative;
    left: 95%;
    bottom: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;

  }

  .topic_arrow {
    position: relative;
    left: 95%;
    color: white;
  }

}

@media (max-width: 1200px) {

  .fa-chevron-down {
    position: relative;
    left: 95%;
    bottom: 90px;
    color: rgb(0, 0, 0);
    cursor: pointer;

  }

  .topic_arrow {
    position: relative;
    left: 95%;
    bottom: 40px;
    color: rgb(255, 253, 253);
  }

}

@media (max-width: 992px) {

  .updates-line-1 {
    top: 5px;
  }
}


@media (max-width: 775px) {

  .updates {
    top: 400px;


  }
}

@media (max-width: 768px) {

  .fa-chevron-down {
    position: static;
    text-align: center;

  }

  .topic_arrow {
    position: relative;
    left: 90%;
    bottom: 40px;
    color: rgb(255, 253, 253);
  }

  .updates-line-1 {
    top: 5px;
  }


  .updates-circle {
    bottom: 28px;

  }

  video {
    width: 100%;
    height: auto;
  }

}




@media (max-width: 680px) {

  .updates {
    top: 320px;
    padding-bottom: 300px;
  }

}


@media (max-width: 600px) {

  .updates-circle {
    bottom: 25px;
  }
}



@media (max-width: 525px) {

  .updates {
    top: 250px;
    padding-bottom: 250px;
  }
}

@media (max-width: 450px) {

  .updates {
    top: 230px;
    padding-bottom: 230px;
  }
}


@media (max-width: 445px) {
  .updates-circle {
    bottom: 21px;
  }
}