@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(../_custom.scss);
@import url(../_custom.scss);
@font-face {
  font-family: "BERNHC";
  src: url("/assets/fonts/BERNHC.TTF");
}
@font-face {
  font-family: "Astro";
  src: url("/assets/fonts/Astro.TTF");
}
.body {
  font-family: "Roboto";
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
/*!
 * font-awesome-animation - v0.0.6
 * https://github.com/l-lin/font-awesome-animation
 * License: MIT
 */
@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  -ms-transform-origin-x: 90%;
  -ms-transform-origin-y: 35%;
  -ms-transform-origin-z: initial;
}

/* BELL */
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  -ms-transform-origin-x: 50%;
  -ms-transform-origin-y: 0px;
  -ms-transform-origin-z: initial;
}

/* VERTICAL */
@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  4% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  8% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  12% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  16% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  20% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  22% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes vertical {
  0% {
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  4% {
    -webkit-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  8% {
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  12% {
    -webkit-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  16% {
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  20% {
    -webkit-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  22% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.faa-vertical.animated,
.faa-vertical.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-vertical {
  -webkit-animation: vertical 2s ease infinite;
  animation: vertical 2s ease infinite;
}

/* HORIZONTAL */
@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
  -webkit-animation: horizontal 2s ease 2 forwards;
  animation: horizontal 2s ease 2 forwards;
}

/* FLASHING */
@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}

/* BOUNCE */
@-webkit-keyframes bounce {
  0%, 10%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 10%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.faa-bounce.animated,
.faa-bounce.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-bounce {
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

/* SPIN */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

/* FLOAT */
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

/* PULSE */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

/* SHAKE */
.faa-shake.animated,
.faa-shake.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-shake {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
}

/* TADA */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    -ms-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    -ms-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    -ms-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

/* PASSING */
@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}
.faa-passing.animated,
.faa-passing.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-passing {
  -webkit-animation: passing 3s linear infinite;
  animation: passing 3s linear infinite;
}

/* WAVE */
@-webkit-keyframes burst {
  0% {
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes burst {
  0% {
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
.btn {
  width: 130px;
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  background: #eee;
  transition: all 0.5s ease-out;
}

.btn {
  /* general */
  color: #fff;
  border-radius: 10px;
  background-size: 200% auto;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.btn:hover {
  color: white;
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(to right, #5D0102 50%, #2e0001 100%);
}

.about_image {
  height: 600px;
  position: relative;
  top: 20px;
  z-index: 1;
  right: 20px;
}

.about_shape {
  position: relative;
  right: 315px;
  bottom: 580px;
  height: 700px;
}

.about {
  height: 200px;
  position: relative;
  bottom: 160px;
}

.about-topic-english,
.about-topic-sinhala {
  display: inline;
}

.about-topic-sinhala {
  position: relative;
  right: 10px;
  bottom: 2px;
  font-weight: 800;
  font-size: 31px;
}

.about-bold {
  padding-top: 20px;
}

.about-line-1 {
  height: 4px;
  width: 45px;
  background-color: black;
  position: relative;
  top: 2px;
  right: 273px;
}

.about-line-2 {
  height: 4px;
  width: 45px;
  background-color: black;
  position: relative;
  top: 0px;
  left: 70px;
}

.about-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 31px;
  left: 49px;
}

@media (max-width: 1560px) {
  .about_image {
    height: 520px;
    position: relative;
    top: 70px;
    z-index: 1;
    right: -70px;
  }

  .about_shape {
    position: relative;
    right: 140px;
    bottom: 410px;
    height: 550px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-line-1 {
    right: 230px;
  }

  .about-line-1 {
    right: 270px;
  }
}
@media (max-width: 1490px) {
  .about_image {
    height: 510px;
    position: relative;
    top: 80px;
    z-index: 1;
    right: -90px;
  }

  .about_shape {
    position: relative;
    right: 110px;
    bottom: 400px;
    height: 550px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }
}
@media (max-width: 1399px) {
  .about_image {
    height: 480px;
    position: relative;
    top: 90px;
    z-index: 1;
    right: -70px;
  }

  .about_shape {
    position: relative;
    right: 160px;
    bottom: 360px;
    height: 520px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-line-1 {
    right: 230px;
  }
}
@media (max-width: 1366px) {
  .about_image {
    height: 440px;
    position: relative;
    top: 120px;
    z-index: 1;
    right: -80px;
  }

  .about_shape {
    position: relative;
    right: 130px;
    bottom: 310px;
    height: 500px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-line-1 {
    right: 230px;
  }
}
@media (max-width: 1250px) {
  .about_image {
    height: 440px;
    position: relative;
    top: 120px;
    z-index: 1;
    right: -80px;
  }

  .about_shape {
    position: relative;
    right: 100px;
    bottom: 295px;
    height: 480px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-line-1 {
    right: 230px;
  }
}
@media (max-width: 1199px) {
  .about_image {
    height: 420px;
    position: relative;
    top: 100px;
    z-index: 1;
    right: -40px;
  }

  .about_shape {
    position: relative;
    right: 140px;
    bottom: 280px;
    height: 440px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-bold {
    font-weight: 520;
    font-size: 24px;
    padding-top: 10px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 180px;
  }

  .about-line-2 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 70px;
  }

  .about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 31px;
    left: 49px;
  }
}
@media (max-width: 1100px) {
  .about_image {
    height: 400px;
    position: relative;
    top: 135px;
    z-index: 1;
    right: -60px;
  }

  .about_shape {
    position: relative;
    right: 100px;
    bottom: 240px;
    height: 430px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-bold {
    font-weight: 520;
    font-size: 24px;
    padding-top: 10px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 180px;
  }

  .about-line-2 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 70px;
  }

  .about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 31px;
    left: 49px;
  }
}
@media (max-width: 1100px) {
  .about_image {
    height: 400px;
    position: relative;
    top: 135px;
    z-index: 1;
    right: -60px;
  }

  .about_shape {
    position: relative;
    right: 100px;
    bottom: 240px;
    height: 430px;
  }

  .about {
    height: 150px;
    bottom: 180px;
  }

  .about-bold {
    font-weight: 520;
    font-size: 24px;
    padding-top: 10px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 180px;
  }

  .about-line-2 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 70px;
  }

  .about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 31px;
    left: 49px;
  }
}
@media (max-width: 991px) {
  .about-col-1 {
    display: none;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 46%;
  }
}
@media (max-width: 850px) {
  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 29px;
  }

  .about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 49px;
  }
}
@media (max-width: 768px) {
  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 45%;
  }
}
@media (max-width: 600px) {
  .about-col-1 {
    display: none;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 2px;
    right: 45%;
  }

  .about-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 49px;
  }
}
@media (max-width: 525px) {
  .about {
    height: 200px;
    position: relative;
    bottom: 200px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 170px;
  }

  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 25px;
  }

  .about-bold {
    font-size: 20px;
    padding-top: 20px;
  }

  .about-light {
    font-size: 15px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 45%;
  }

  .about-circle {
    bottom: 20px;
  }
}
@media (max-width: 500px) {
  .about {
    height: 200px;
    position: relative;
    bottom: 200px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 170px;
  }

  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 25px;
  }

  .about-bold {
    font-size: 20px;
    padding-top: 20px;
  }

  .about-light {
    font-size: 15px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 44.5%;
  }

  .about-circle {
    bottom: 20px;
  }
}
@media (max-width: 480px) {
  .about {
    height: 200px;
    position: relative;
    bottom: 200px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 170px;
  }

  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 25px;
  }

  .about-bold {
    font-size: 20px;
    padding-top: 20px;
  }

  .about-light {
    font-size: 15px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 44%;
  }

  .about-circle {
    bottom: 20px;
  }
}
@media (max-width: 450px) {
  .about-circle {
    bottom: 21px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 190px;
  }
}
@media (max-width: 438px) {
  .about {
    height: 200px;
    position: relative;
    bottom: 200px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 170px;
  }

  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 25px;
  }

  .about-bold {
    font-size: 20px;
    padding-top: 20px;
  }

  .about-light {
    font-size: 15px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 43.5%;
  }

  .about-circle {
    bottom: 20px;
  }
}
@media (max-width: 400px) {
  .about {
    height: 200px;
    position: relative;
    bottom: 200px;
  }

  .about {
    height: 200px;
    position: relative;
    bottom: 170px;
  }

  .about-topic-sinhala {
    position: relative;
    right: 8px;
    bottom: 1px;
    font-family: "Astro";
    font-weight: 800;
    font-size: 25px;
  }

  .about-bold {
    font-size: 20px;
    padding-top: 20px;
  }

  .about-light {
    font-size: 15px;
  }

  .about-line-1 {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 43%;
  }

  .about-circle {
    bottom: 20px;
  }
}
#particle-canvas {
  width: 100%;
  height: 500px;
  z-index: 1;
}

.banner {
  padding-top: 340px;
  height: 0px;
  text-align: center;
}

.banner-design {
  position: relative;
  bottom: 420px;
  border-radius: 40px;
  z-index: 1;
  text-align: center;
  height: 340px;
  border-color: gray;
  border-style: solid;
  border-width: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 1920px) {
  .banner {
    background-repeat: repeat-y;
    background-size: 1920px;
  }

  #particle-canvas {
    width: 1900px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1366px) {
  .banner {
    padding-top: 280px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 410px;
    z-index: 2;
    text-align: center;
    height: 320px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media (max-width: 1200px) {
  .banner {
    padding-top: 280px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 410px;
    z-index: 2;
    text-align: center;
    height: 300px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media (max-width: 1050px) {
  .banner {
    padding-top: 250px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 370px;
    z-index: 2;
    text-align: center;
    height: 280px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 450px;
    z-index: 1;
  }
}
@media (max-width: 910px) {
  .banner {
    padding-top: 250px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 330px;
    z-index: 2;
    text-align: center;
    height: 260px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 420px;
    z-index: 1;
  }
}
@media (max-width: 775px) {
  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 280px;
    z-index: 2;
    text-align: center;
    height: 220px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 350px;
    z-index: 1;
  }
}
@media (max-width: 680px) {
  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 250px;
    z-index: 2;
    text-align: center;
    height: 200px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 320px;
    z-index: 1;
  }
}
@media (max-width: 590px) {
  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 40px;
    position: relative;
    bottom: 220px;
    z-index: 2;
    text-align: center;
    height: 180px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 280px;
    z-index: 1;
  }
}
@media (max-width: 525px) {
  .banner {
    padding-top: 150px;
  }

  .banner-design {
    border-radius: 30px;
    position: relative;
    bottom: 205px;
    z-index: 2;
    text-align: center;
    height: 150px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;
  }
}
@media (max-width: 450px) {
  .banner {
    padding-top: 140px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 200px;
    z-index: 2;
    text-align: center;
    height: 130px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;
  }
}
@media (max-width: 390px) {
  .banner {
    padding-top: 140px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 190px;
    z-index: 2;
    text-align: center;
    height: 120px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 250px;
    z-index: 1;
  }
}
@media (max-width: 350px) {
  .banner {
    padding-top: 200px;
  }

  .banner-design {
    border-radius: 20px;
    position: relative;
    bottom: 180px;
    z-index: 2;
    text-align: center;
    height: 110px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #particle-canvas {
    width: 100%;
    height: 240px;
    z-index: 1;
  }
}
.classes-img {
  text-align: center;
  position: relative;
  z-index: 1;
  height: 220px;
  width: 320px;
  right: 12px;
  border-radius: 5%;
  bottom: 2px;
  background-color: #f3f3f3;
}

.classes-images {
  top: 20%;
  left: 10%;
  border: none;
}

.classes {
  text-align: center;
  padding-top: 100px;
}

.classes-row {
  text-align: center;
  width: 1200px;
  padding-top: 30px;
}

.updates-card {
  width: 300px;
  position: relative;
  left: 50px;
  border-radius: 5%;
}

.next {
  position: relative;
  bottom: 240px;
  left: 540px;
  cursor: pointer;
}

.prev {
  position: relative;
  bottom: 240px;
  right: 540px;
  cursor: pointer;
}

.button-loadmore {
  text-align: center;
}

.classes-topic {
  text-align: center;
}

/*--------------- underline ----------------*/
.classes-line-1 {
  height: 4px;
  width: 50px;
  background-color: black;
  position: relative;
  top: 2px;
  right: 40px;
}

.classes-line-2 {
  height: 4px;
  width: 50px;
  background-color: black;
  position: relative;
  top: 0px;
  left: 80px;
}

.classes-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 32px;
  left: 40px;
}

@media (max-width: 1366px) {
  .classes-row {
    width: auto;
  }

  .updates-card {
    width: 300px;
    position: relative;
    left: 40px;
    border-radius: 5%;
  }

  .next {
    left: 515px;
  }

  .prev {
    right: 515px;
  }
}
.feed {
  padding-top: 100px;
  text-align: center;
  height: 700px;
}

.feed-topic {
  text-align: center;
}

.feed-line-1 {
  height: 4px;
  width: 80px;
  background-color: black;
  position: relative;
  top: 2px;
  right: 55px;
}

.feed-line-2 {
  height: 4px;
  width: 80px;
  background-color: black;
  position: relative;
  top: 0px;
  left: 110px;
}

.feed-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 32px;
  left: 55px;
}

.feed-row {
  text-align: center;
  padding-top: 30px;
}

.spinner-border {
  color: #5D0102;
}

@media (max-width: 1366px) {
  .feed {
    height: 700px;
  }
}
@media (max-width: 992px) {
  .feed-line-1 {
    top: 5px;
  }

  .feed {
    height: 1300px;
  }

  .feed-col1 {
    text-align: center;
  }

  .feed-col2 {
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .feed {
    height: 1050px;
  }

  .feed-col2 {
    margin-top: 40px;
  }

  .feed-line-1 {
    top: 5px;
  }

  .feed-circle {
    bottom: 28px;
  }
}
@media (max-width: 600px) {
  .feed {
    height: 1100px;
  }

  .feed-circle {
    bottom: 25px;
  }
}
@media (max-width: 445px) {
  .feed-circle {
    bottom: 21px;
  }
}
.footer {
  height: 380px;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);
  margin: 0px;
  padding: 0px;
}

.footer_shape {
  position: relative;
  top: 350px;
  margin: 0px;
  padding: 0px;
}

.contact-details {
  text-align: center;
  position: relative;
  top: 180px;
}

.fa {
  color: white;
  padding-bottom: 10px;
}

.contact {
  color: white;
  text-decoration: none;
}

.contact-line {
  position: absolute;
  height: 100px;
  width: 2px;
  background-color: gray;
  bottom: 45%;
  left: 38%;
}

.contact-line2 {
  position: absolute;
  height: 100px;
  width: 2px;
  background-color: gray;
  bottom: 45%;
  left: 62%;
}

.copyright {
  margin-top: 20px;
  font-size: 15px;
}

.address_line_2 {
  position: relative;
  bottom: 15px;
}

@media (min-width: 1940px) {
  .footer {
    height: 410px;
    background-repeat: repeat-y;
    background-size: 1920px;
    background-position: center;
  }

  .contact-details {
    top: 200px;
  }

  .footer_shape {
    top: 380px;
    position: relative;
    width: 1923px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-line {
    bottom: 80px;
    right: 100px;
  }

  .contact-line2 {
    bottom: 80px;
    right: 10px;
  }
}
@media (min-width: 1014px) {
  .mobile_footer_shape {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile_footer_small_shape {
    display: none;
  }
}
@media (max-width: 1668px) {
  .footer {
    height: 360px;
  }

  .footer_shape {
    position: relative;
    top: 340px;
    margin: 0px;
    padding: 0px;
  }

  .contact-details {
    top: 170px;
  }
}
@media (max-width: 1625px) {
  .footer {
    height: 330px;
  }

  .footer_shape {
    position: relative;
    top: 310px;
    margin: 0px;
    padding: 0px;
  }

  .contact-details {
    top: 130px;
  }
}
@media (max-width: 1480px) {
  .footer {
    height: 320px;
  }

  .footer_shape {
    position: relative;
    top: 300px;
    margin: 0px;
    padding: 0px;
  }

  .contact-details {
    top: 130px;
  }
}
@media (max-width: 1480px) {
  .footer {
    height: 300px;
  }

  .footer_shape {
    position: relative;
    top: 270px;
    margin: 0px;
    padding: 0px;
  }

  .contact-details {
    top: 105px;
  }
}
@media (max-width: 1290px) {
  .footer {
    height: 250px;
  }

  .footer_shape {
    position: relative;
    top: 210px;
  }

  .contact-details {
    top: 70px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 15px;
  }
}
@media (max-width: 1013px) {
  .footer {
    height: 230px;
  }

  .mobile_footer_shape {
    position: relative;
    top: 220px;
  }

  .footer_shape {
    display: none;
  }

  .contact-details {
    top: 55px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 15px;
  }
}
@media (max-width: 930px) {
  .footer {
    height: 250px;
  }

  .mobile_footer_shape {
    position: relative;
    top: 200px;
  }

  .footer_shape {
    display: none;
    position: relative;
    top: 190px;
    margin: 0px;
    padding: 0px;
  }

  .contact-details {
    top: 75px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 15px;
  }
}
@media (max-width: 843px) {
  .footer {
    height: 230px;
  }

  .mobile_footer_shape {
    position: relative;
    top: 180px;
  }

  .contact-details {
    top: 55px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 15px;
  }

  .contact-line {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: gray;
    bottom: 45%;
    left: 34%;
  }

  .contact-line2 {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: gray;
    bottom: 45%;
    left: 64%;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 500px;
    text-align: center;
  }

  .mobile_footer_shape {
    display: none;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 500px;
  }

  .contact-details {
    top: 90px;
  }

  .copyright {
    margin-top: 40px;
    font-size: 15px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }
}
@media (max-width: 670px) {
  .footer {
    height: 480px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 480px;
  }

  .contact-details {
    top: 100px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 642px) {
  .footer {
    height: 450px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 430px;
  }

  .contact-details {
    top: 80px;
  }

  .number,
.address,
.email {
    margin-top: 5px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .footer {
    height: 420px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 410px;
  }

  .contact-details {
    top: 85px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 15px;
  }

  .contact {
    padding-left: 20px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  .footer {
    height: 420px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 380px;
  }

  .contact-details {
    top: 85px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 15px;
  }

  .contact {
    padding-left: 20px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 25px;
  }
}
@media (max-width: 510px) {
  .footer {
    height: 380px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 360px;
  }

  .contact-details {
    top: 70px;
  }

  .copyright {
    margin-top: 0px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 20px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 330px;
  }

  .contact-details {
    top: 70px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 20px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 442px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 300px;
  }

  .contact-details {
    top: 50px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 402px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 280px;
  }

  .contact-details {
    top: 50px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 375px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 260px;
  }

  .contact-details {
    top: 50px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 348px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 240px;
  }

  .contact-details {
    top: 50px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 322px) {
  .footer {
    height: 400px;
  }

  .mobile_footer_small_shape {
    position: relative;
    top: 220px;
  }

  .contact-details {
    top: 50px;
  }

  .copyright {
    margin-top: 5px;
    font-size: 13px;
  }

  .number,
.address,
.email {
    font-size: 13px;
    padding-top: 0px;
  }

  .contact {
    padding-left: 10px;
  }

  .contact-line,
.contact-line2 {
    display: none;
  }

  .fa-phone,
.fa-map-marker,
.fa-envelope {
    font-size: 20px;
  }

  .number,
.address,
.email {
    margin-top: 10px;
  }

  .address_line_2 {
    position: relative;
    bottom: 15px;
  }
}
.home {
  height: 590px;
  background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);
}

#home_text {
  animation: moveright 2s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.home-img {
  position: relative;
  height: 600px;
  top: 10px;
  left: 180px;
}

.navbar-brand {
  position: relative;
  top: 10px;
}

.home_text_english {
  font-size: 110px;
  position: relative;
  bottom: 30px;
  left: 100px;
  font-family: "BERNHC";
}

.home_text_sinhala {
  font-size: 135px;
  font-family: "Astro";
  position: relative;
  bottom: 110px;
  left: 110px;
}

.shape {
  position: relative;
  bottom: 600px;
}

@media (min-width: 1940px) {
  .home {
    background-repeat: repeat-y;
    background-size: 1920px;
    background-position: center;
  }

  .shape {
    width: 1923px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 605px;
  }
}
@media (min-width: 501px) {
  .mobile_small_path {
    display: none;
  }
}
@media (min-width: 992px) {
  .mobile_path {
    display: none;
  }
}
@media (max-width: 1740px) {
  .home {
    height: 550px;
    background-image: linear-gradient(to right, #2e0001 50%, #5D0102 100%);
  }

  .shape {
    bottom: 600px;
  }

  .home_text_english {
    font-size: 100px;
    bottom: 55px;
    left: 150px;
  }

  .home_text_sinhala {
    font-size: 130px;
    bottom: 130px;
    left: 150px;
  }
}
@media (max-width: 1666px) {
  .shape {
    bottom: 570px;
  }
}
@media (max-width: 1570px) {
  .shape {
    bottom: 500px;
  }

  .home-img {
    position: relative;
    height: 550px;
    top: 20px;
    left: 180px;
  }
}
@media (max-width: 1483px) {
  .home {
    height: 460px;
  }

  .shape {
    bottom: 440px;
  }

  .home-img {
    height: 450px;
    top: 30px;
    left: 180px;
  }

  .home_text_english {
    font-size: 80px;
    bottom: 20px;
    left: 180px;
  }

  .home_text_sinhala {
    font-size: 110px;
    bottom: 80px;
    left: 180px;
  }
}
@media (max-width: 1366px) {
  .home {
    height: 400px;
  }

  .home-img {
    position: relative;
    height: 400px;
    top: 40px;
    left: 200px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    position: relative;
    bottom: 400px;
  }

  .home_text_english {
    font-size: 80px;
    bottom: 20px;
    left: 180px;
  }

  .home_text_sinhala {
    font-size: 110px;
    bottom: 80px;
    left: 180px;
  }
}
@media (max-width: 1250px) {
  .home {
    height: 400px;
  }

  .home-img {
    position: relative;
    height: 410px;
    top: 25px;
    left: 160px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    position: relative;
    bottom: 400px;
  }

  .home_text_english {
    font-size: 80px;
    bottom: 20px;
    left: 180px;
  }

  .home_text_sinhala {
    font-size: 110px;
    bottom: 80px;
    left: 180px;
  }
}
@media (max-width: 1220px) {
  .home {
    height: 400px;
  }

  .home-img {
    position: relative;
    height: 400px;
    top: 40px;
    left: 200px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    position: relative;
    bottom: 370px;
  }

  .home_text_english {
    font-size: 70px;
    bottom: 20px;
    left: 180px;
  }

  .home_text_sinhala {
    font-size: 100px;
    bottom: 70px;
    left: 180px;
  }
}
@media (max-width: 1199px) {
  .home {
    height: 400px;
  }

  .home-img {
    position: relative;
    height: 400px;
    top: 30px;
    left: 180px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    position: relative;
    bottom: 370px;
  }

  .home_text_english {
    font-size: 60px;
    bottom: 20px;
    left: 150px;
  }

  .home_text_sinhala {
    font-size: 90px;
    bottom: 65px;
    left: 150px;
  }
}
@media (max-width: 1100px) {
  .home {
    height: 400px;
  }

  .home-img {
    position: relative;
    height: 400px;
    top: 30px;
    left: 150px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    position: relative;
    bottom: 340px;
  }

  .home_text_english {
    font-size: 60px;
    bottom: 20px;
    left: 180px;
  }

  .home_text_sinhala {
    font-size: 90px;
    bottom: 60px;
    left: 180px;
  }
}
@media (max-width: 991px) {
  .home {
    height: 420px;
  }

  .mobile_path {
    position: relative;
    bottom: 380px;
  }

  .home-img {
    position: relative;
    height: 380px;
    top: 30px;
    left: 80px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    display: none;
    position: relative;
    bottom: 340px;
  }

  .home_text_english {
    font-size: 70px;
    bottom: -10px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 90px;
    bottom: 40px;
    left: 100px;
  }
}
@media (max-width: 961px) {
  .home {
    height: 420px;
  }

  .mobile_path {
    position: relative;
    bottom: 380px;
  }

  .home-img {
    position: relative;
    height: 380px;
    top: 30px;
    left: 80px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .shape {
    display: none;
    position: relative;
    bottom: 340px;
  }

  .home_text_english {
    font-size: 70px;
    bottom: -10px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 90px;
    bottom: 40px;
    left: 100px;
  }
}
@media (max-width: 900px) {
  .home {
    height: 380px;
  }

  .mobile_path {
    position: relative;
    bottom: 350px;
  }

  .home-img {
    position: relative;
    height: 340px;
    top: 30px;
    left: 80px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 70px;
    bottom: -10px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 90px;
    bottom: 40px;
    left: 100px;
  }
}
@media (max-width: 850px) {
  .home {
    height: 380px;
  }

  .mobile_path {
    position: relative;
    bottom: 340px;
  }

  .home-img {
    position: relative;
    height: 340px;
    top: 20px;
    left: 80px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 60px;
    bottom: -10px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 80px;
    bottom: 40px;
    left: 100px;
  }
}
@media (max-width: 800px) {
  .home {
    height: 360px;
  }

  .mobile_path {
    position: relative;
    bottom: 330px;
  }

  .home-img {
    position: relative;
    height: 330px;
    top: 10px;
    left: 60px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 60px;
    bottom: 0px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 80px;
    bottom: 50px;
    left: 100px;
  }
}
@media (max-width: 768px) {
  .home {
    height: 330px;
  }

  .mobile_path {
    position: relative;
    bottom: 310px;
  }

  .home-img {
    position: relative;
    height: 310px;
    top: 20px;
    left: 60px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 50px;
    bottom: 0px;
    left: 60px;
  }

  .home_text_sinhala {
    font-size: 70px;
    bottom: 40px;
    left: 60px;
  }
}
@media (max-width: 680px) {
  .home {
    height: 300px;
  }

  .mobile_path {
    position: relative;
    bottom: 285px;
  }

  .home-img {
    position: relative;
    height: 280px;
    top: 20px;
    left: 50px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 50px;
    bottom: 0px;
    left: 65px;
  }

  .home_text_sinhala {
    font-size: 70px;
    bottom: 40px;
    left: 65px;
  }
}
@media (max-width: 627px) {
  .home {
    height: 280px;
  }

  .mobile_path {
    position: relative;
    bottom: 255px;
  }

  .home-img {
    position: relative;
    height: 250px;
    top: 20px;
    left: 50px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 40px;
    bottom: 0px;
    left: 80px;
  }

  .home_text_sinhala {
    font-size: 60px;
    bottom: 30px;
    left: 80px;
  }
}
@media (max-width: 587px) {
  .home {
    height: 250px;
  }

  .mobile_path {
    position: relative;
    bottom: 235px;
  }

  .home-img {
    position: relative;
    height: 250px;
    top: 20px;
    left: 50px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 40px;
    bottom: 0px;
    left: 80px;
  }

  .home_text_sinhala {
    font-size: 60px;
    bottom: 30px;
    left: 80px;
  }
}
@media (max-width: 525px) {
  .home {
    height: 250px;
  }

  .mobile_path {
    position: relative;
    bottom: 200px;
  }

  .home-img {
    position: relative;
    height: 220px;
    top: 20px;
    left: 40px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 40px;
    bottom: 0px;
    left: 100px;
  }

  .home_text_sinhala {
    font-size: 60px;
    bottom: 30px;
    left: 100px;
  }
}
@media (max-width: 500px) {
  .mobile_small_path {
    position: relative;
    bottom: 250px;
  }

  .home {
    height: 270px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 245px;
    top: 30px;
    left: 20px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 40px;
    bottom: -5px;
    left: 80px;
  }

  .home_text_sinhala {
    font-size: 60px;
    bottom: 25px;
    left: 80px;
  }
}
@media (max-width: 468px) {
  .mobile_small_path {
    position: relative;
    bottom: 220px;
  }

  .home {
    height: 250px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 240px;
    top: 30px;
    left: 20px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 40px;
    bottom: -5px;
    left: 80px;
  }

  .home_text_sinhala {
    font-size: 60px;
    bottom: 25px;
    left: 80px;
  }
}
@media (max-width: 440px) {
  .mobile_small_path {
    position: relative;
    bottom: 190px;
  }

  .home {
    height: 250px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 220px;
    top: 45px;
    left: 10px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 35px;
    bottom: -5px;
    left: 70px;
  }

  .home_text_sinhala {
    font-size: 45px;
    bottom: 20px;
    left: 70px;
  }
}
@media (max-width: 390px) {
  .mobile_small_path {
    position: relative;
    bottom: 190px;
  }

  .home {
    height: 230px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 200px;
    top: 25px;
    left: 0px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 35px;
    bottom: -5px;
    left: 60px;
  }

  .home_text_sinhala {
    font-size: 45px;
    bottom: 20px;
    left: 60px;
  }
}
@media (max-width: 364px) {
  .mobile_small_path {
    position: relative;
    bottom: 170px;
  }

  .home {
    height: 210px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 180px;
    top: 25px;
    left: 5px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 32px;
    bottom: -5px;
    left: 50px;
  }

  .home_text_sinhala {
    font-size: 45px;
    bottom: 20px;
    left: 50px;
  }
}
@media (max-width: 331px) {
  .mobile_small_path {
    position: relative;
    bottom: 170px;
  }

  .home {
    height: 190px;
  }

  .mobile_path {
    display: none;
  }

  .home-img {
    position: relative;
    height: 180px;
    top: 25px;
    left: 5px;
  }

  .navbar-brand {
    position: relative;
    top: 10px;
  }

  .home_text_english {
    font-size: 32px;
    bottom: -5px;
    left: 50px;
  }

  .home_text_sinhala {
    font-size: 45px;
    bottom: 20px;
    left: 50px;
  }
}
.custom-scrollbar-js,
.scrollbar {
  height: 600px;
}

/* Custom Scrollbar using CSS */
.scrollbar {
  overflow-y: scroll;
}

/* scrollbar width */
.scrollbar::-webkit-scrollbar {
  width: 15px;
}

/* scrollbar track */
.scrollbar::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #909394;
}

.updates {
  padding-top: 100px;
  padding-bottom: 500px;
  position: relative;
  top: 500px;
}

.updates-topic {
  text-align: center;
}

.updates-cards {
  border-width: 2px;
  border-color: #5D0102;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #5D0102;
  height: 60px;
  border: none;
  color: white;
}

.updates-line-1 {
  height: 4px;
  width: 110px;
  background-color: black;
  position: relative;
  top: 2px;
  right: 75px;
}

.updates-line-2 {
  height: 4px;
  width: 110px;
  background-color: black;
  position: relative;
  top: 0px;
  left: 150px;
}

.updates-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 31px;
  left: 75px;
}

.updates-row {
  margin-top: 30px;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px gray;
  box-shadow: 2px 2px 1px #888888;
}

.video {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px gray;
  box-shadow: 2px 2px 1px #888888;
}

.file {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: solid 1px;
  border-color: gray;
  box-shadow: 2px 2px 1px #888888;
}

.scrollbar {
  padding-top: 10px;
}

.update_video {
  text-align: center;
}

video {
  width: 75%;
  height: auto;
}

.fa-file-text,
.fa-video-camera,
.fa-folder {
  color: #5D0102;
  font-size: 25px;
}

.text_title,
.video_title,
.file_title {
  font-weight: 500;
}

.text_date_time,
.video_date_time,
.file_date_time {
  padding-left: 10px;
  color: #888888;
  font-size: 13px;
  bottom: 30px;
}

.text_title,
.text_date_time {
  display: inline;
}

.video_title,
.video_date_time {
  display: inline;
}

.file_title,
.file_date_time {
  display: inline;
}

.file_description,
.video_description,
.description {
  font-size: 15px;
}

.card-header {
  text-align: center;
}

.fa-chevron-down {
  position: relative;
  left: 1180px;
  bottom: 40px;
  color: #070707;
  cursor: pointer;
}

.short_description {
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 550;
}

.topic_arrow {
  color: white;
}

@media (max-width: 1399px) {
  .fa-chevron-down {
    position: relative;
    left: 95%;
    bottom: 40px;
    color: black;
    cursor: pointer;
  }

  .topic_arrow {
    position: relative;
    left: 95%;
    color: white;
  }
}
@media (max-width: 1200px) {
  .fa-chevron-down {
    position: relative;
    left: 95%;
    bottom: 90px;
    color: black;
    cursor: pointer;
  }

  .topic_arrow {
    position: relative;
    left: 95%;
    bottom: 40px;
    color: #fffdfd;
  }
}
@media (max-width: 992px) {
  .updates-line-1 {
    top: 5px;
  }
}
@media (max-width: 775px) {
  .updates {
    top: 400px;
  }
}
@media (max-width: 768px) {
  .fa-chevron-down {
    position: static;
    text-align: center;
  }

  .topic_arrow {
    position: relative;
    left: 90%;
    bottom: 40px;
    color: #fffdfd;
  }

  .updates-line-1 {
    top: 5px;
  }

  .updates-circle {
    bottom: 28px;
  }

  video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 680px) {
  .updates {
    top: 320px;
    padding-bottom: 300px;
  }
}
@media (max-width: 600px) {
  .updates-circle {
    bottom: 25px;
  }
}
@media (max-width: 525px) {
  .updates {
    top: 250px;
    padding-bottom: 250px;
  }
}
@media (max-width: 450px) {
  .updates {
    top: 230px;
    padding-bottom: 230px;
  }
}
@media (max-width: 445px) {
  .updates-circle {
    bottom: 21px;
  }
}
.navbar {
  height: 60px;
  font-family: "roboto";
}

.bg-dark {
  background-image: linear-gradient(to right, #3f0000 5%, #5D0102 100%, #5D0102 100%) !important;
}

nav .navbar-nav li a {
  color: #b3b0b0 !important;
  font-size: 16px;
  margin-left: 20px;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav {
  text-align: center;
}

nav .navbar-nav li a {
  color: #b3b0b0 !important;
  font-size: 16px;
  margin-left: 20px;
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.nav2 {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .active {
  color: #ffffff !important;
}

/* Responsive */
@media (max-width: 1475px) {
  nav .navbar-nav li a {
    padding-left: 20px;
  }
}
@media (max-width: 1190px) {
  nav .navbar-nav li a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .navTrigger {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    background-image: linear-gradient(to right, #3f0000 5%, #5D0102 100%, #5D0102 100%) !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  nav .navbar-nav li a {
    margin-left: 0px;
  }

  .first-button {
    position: relative;
    right: 0px;
    bottom: 25px;
  }

  .navbar-logo {
    height: 80px;
    bottom: 30px;
    position: relative;
  }

  nav .navbar-nav li a {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media (max-width: 768px) {
  .navbar-logo {
    height: 500px;
    top: -20px;
    bottom: 0px;
    position: relative;
  }

  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    animation: none;
    visibility: visible;
  }

  .first-button {
    position: relative;
    right: -30px;
    bottom: 5px;
    bottom: 10px;
  }
}
@media (max-width: 850px) {
  .navbar-logo {
    height: 60px;
    bottom: 30px;
    position: relative;
  }

  .navbar {
    height: 50px;
    font-family: "roboto";
  }
}
@media (max-width: 500px) {
  .navbar-logo {
    height: 50px;
    bottom: 30px;
    position: relative;
  }

  .navbar {
    height: 50px;
    font-family: "roboto";
  }
}
@media (max-width: 360px) {
  .navbar {
    height: 40px;
    font-family: "roboto";
  }

  .navbar-logo {
    height: 40px;
  }

  .first-button {
    position: relative;
    right: -30px;
    bottom: 10px;
  }
}
.lessons {
  padding-top: 100px;
}

.lessons-topic {
  text-align: center;
}

.lessons-line-1 {
  height: 4px;
  width: 50px;
  background-color: black;
  position: relative;
  top: 2px;
  right: 40px;
}

.lessons-line-2 {
  height: 4px;
  width: 50px;
  background-color: black;
  position: relative;
  top: 0px;
  left: 80px;
}

.lessons-circle {
  height: 18px;
  width: 18px;
  background-color: #5D0102;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 32px;
  left: 40px;
}

.lessons-row {
  padding-top: 30px;
}

.video-date {
  font-size: 13px;
}

.video-heading {
  font-weight: 550;
  font-size: 15px;
}

.youtube-lessons {
  width: 300px;
  height: 215px;
}

.button-loadmore {
  padding-top: 10px;
}

@media (max-width: 1366px) {
  .youtube-lessons {
    width: 260px;
    height: 215px;
  }
}
@media (max-width: 991px) {
  .lessons-line-1 {
    height: 4px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 5px;
    right: 40px;
  }

  .lessons-line-2 {
    height: 4px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 80px;
  }

  .lessons-circle {
    height: 18px;
    width: 18px;
    background-color: #5D0102;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 40px;
  }

  .youtube-lessons {
    width: 100%;
    height: 200px;
  }

  .video-date {
    font-size: 13px;
  }

  .video-heading {
    font-weight: 550;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .lessons-line-1 {
    top: 5px;
  }

  .lessons-circle {
    bottom: 28px;
  }
}
@media (max-width: 600px) {
  .lessons-circle {
    bottom: 25px;
  }
}
@media (max-width: 445px) {
  .lessons-circle {
    bottom: 21px;
  }
}/*# sourceMappingURL=style.css.map */