.btn {

  width: 130px;
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  background: #eee;
  transition: all 0.5s ease-out;

}

.btn {
  /* general */
  color: #fff;
  border-radius: 10px;
  background-size: 200% auto;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .1);
}

.btn:hover {
  color: white;
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(to right, #5D0102 50%, #2e0001 100%);
}